body {
    font-family: 'Euclid Circular A', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 24px 72px 32px 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9CA3AF;
    padding-bottom: 4px;
}

.search-icon {
    margin-right: 16px;
    color: #9CA3AF;
}

.search-input {
    border: none;
    background: none;
    outline: none;
}

.search-input::placeholder {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
}

.search-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.menu {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #9CA3AF;
}

.menu .basket {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #1F2937;
}

.second-nav {
    padding: 20px 72px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.navlinks li a {
    text-decoration: none;
    color: #374151;
    font-size: 14px;
    font-weight: 600;
}

.navlinks span {
    background-color: #EB5757;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
}

.header {
    display: flex;
    height: 150vh;
    width: 100%;
}

.text {
    background: url(./images/stripes.png), #1C2333;
    height: 100%;
    width: 64%;
}

.box {
    margin: 125px 96px;
    background-color: #1F2937;
    padding: 40px;
    width: 55%;
}

.percentage {
    font-size: 56px;
    font-weight: 600;
    color: #FAFAFA;
}

.arrivals {
    color: #F7C59F;
    font-size: 56px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #F3F4F6;
    margin-top: 2px;
}

.outline {
    margin-top: 56px;
    background-color: transparent;
    border: 1px solid #FAFAFA;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FAFAFA;
}

.image {
    background-color: #F7C59F;
    width: 40%;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 34% auto;
    display: flex;
    justify-content: center;
}

img {
    height: 550px;
    width: 250px;
    object-fit: cover;
    margin-top: -33%;
}

.highlights {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: center;
}

.highlights-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: center;
}

.heading {
    text-align: center;
    padding: 10px 20px;
}

.heading h3 {
    font-size: 24px;
    font-weight: 600;
    color: #374151;
}

.heading h3::after {
    content: "";
    display: block;
    width: 88px;
    height: 4px;
    background-color: #374151;
    margin: 5px auto 0 auto;
    border-radius: 9999px;
}

.highlights-area {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    gap: 10px;
    padding: 0 50px 10px 50px;
}

.first-highlight {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    height: 300px;
}

.second-highlight {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    height: 300px;
}

.exclusive-shoes {
    background-image: url(./images/shoes.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.exquisite-styles {
    background-image: url(./images/clothes.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.new-arrivals {
    background-image: url(./images/arrivals.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.exclusive-items {
    background-image: url(./images/items.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}

.exclusive-shoes h2,
.exquisite-styles h2,
.exclusive-items h2,
.new-arrivals h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.small-box {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    color: #ffffff;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    left: 10px;
    bottom: 10px;
}

.small-box h4 {
    font-size: 14px;
    margin: 2px 0;
    font-weight: 600;
}

.small-box h5 {
    font-size: 12px;
    margin: 2px 0;
    font-weight: 400;
}